<div class="container py-5">
  <div class="row justify-content-between mx-5">

    <div class="col-lg-6 col-12 d-flex flex-column justify-content-center ">
      <div class="d-flex flex-column justify-content-center">
        <div class="flex flex-column text-lg-start text-center">
          <h1>Sobre mi</h1>
          <p>
            Soy un desarrollador web apasionado con experiencia en la creación de
            soluciones digitales prácticas y efectivas. Mi enfoque se centra en el desarrollo
            frontend, donde cuento con habilidades sólidas, especialmente en el uso de
            frameworks como Angular y Vue. Siempre estoy interesado en aprender y
            mantenerme al día con las últimas tendencias en el mundo del desarrollo web,
            me caracterizo por trabajar en equipo para los objetivos.
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12 d-flex align-items-center justify-content-center">
      <div class="text-lg-end text-center">
        <img src="../../../../assets/img-about/Screenshot_8.png" alt="me" class="img-fluid img-about-me">
      </div>
    </div>

  </div>
</div>
