<div class="container py-5">

  <div class ="mb-3 py-4 text-center">
    <span class ="title-section">experiencia</span>
  </div>

  <div class="card mb-3">
    <div class="card-body row justify-content-around">
      <div class="col-7 text-md-start text-center">
        <h5>Sinapsis</h5>
        <p>Como Desarrollador Frontend, trabajé en la creación de interfaces de usuario utilizando HTML, CSS,
          JavaScript, Angular, Vue. Enfocado en desarrollar experiencias web interactivas y atractivas.</p>

        <p>Responsabilidades:</p>

        <ul>
          <li>Desarrollo de sitios web responsivos.</li>
          <li>Implementación de funcionalidades  framework como Angular y Vue.</li>
        </ul>
      </div>
      <div class="col-md-4 col-12 text-md-end text-center">
        <p>enero 2022 - actualidad</p>
      </div>
    </div>
  </div>
</div>
